#app-title{
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
}
.nav-item{
  padding: 5px;
}
.nav-item:hover{
  border-bottom:1px solid rgba(0, 0, 0, 0.5);
}
.font-weight-500{
  font-weight: 500;
}
/* Home Component Ends */
/* =========== Introduction Section Starts =========== */
.portfolio-container{
  /* justify-content: center;
  text-align: center;
  align-items: center; */
  margin-top: 50%;
}
.porfolio-header{
  font-weight: 900;
  font-size: 50px;
}
.portfolio-content{
  
}
.portfolio-img{
  margin-top: 10%;
}
/* =========== Introduction Section Ends =========== */
/* =========== About Section Starts =========== */
.about-container-wrapper{
  background-image: url('./img/blob-shape.svg');
  background-repeat: no-repeat;
  background-position-x: 1250px;
}
.about-img{
  margin-top: 5%;
}
.about-title h1{
  font-weight: 900;
  font-size: 50px;
}
.about-content{
  margin-top: 20%;
}
.about-content h3{
  font-weight: 600;
  font-size: 30px;
}
.about-content-description .content-1, .content-2{
  padding-top:10px;
}
/* =========== About Section Ends =========== */
/* =========== Talents Section Starts =========== */
.talents-container-wrapper{
  background-image: url('./img/blob-shape-3.svg');
  background-repeat: no-repeat;
  background-position-x: -290px;
  background-position-y: -70px;
}
.talents-container{
  text-align: center;
}
.talent-title h4{
  font-weight: 700;
}
.talent-details .talent-description{
  font-size: 15px;
}
.hover-custom:hover{
  border-bottom: 2px solid red;
}
/* =========== Talents Section Ends =========== */
/* =========== Work Section Starts =========== */
.works-container{
  text-align: center;
}
.work-title h4{
  font-weight: 700;
}
.work-details .work-description{
  font-size: 15px;
}
.counter-fluid-background{
    /* background: grey; */
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");

}
/* =========== Work Section Ends =========== */
/* =========== Partnership Section Starts =========== */
.partnership-img{
  filter: grayscale(100%);
}
.partnership-img:hover{
  filter: grayscale(0%);
}
/* =========== Partnership Section Ends =========== */
/* =========== Testimonial Section Starts =========== */
.testimonials-title-container{
  padding: 5%;
}
.testimonials-title h1{
  font-weight: 900;
  font-size: 50px;
}
.testimonial-img{
  display: flex;
  text-align: center;
  justify-content: center;
}
.testimonials-subtitle{

}
.testimonial-main-container{
  justify-content: center;
  text-align: center;
  align-items: center;
}
.testimonial-avatar{
  border-radius: 500px;
  width: 20%;
}
.testimonial-name h4{
  font-weight: 600;
  font-size: 30px;
}
.testimonial-job h6{
  font-weight: 400;
  font-size: 15px;
}
.testimonial-content{
  width: 520px;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.testimonial-content p{
  font-weight: 200;
  font-style: italic;
  font-size: 15px;
  color: grey;
}
/* =========== Testimonial Section Ends =========== */
/* =========== Get In Touch Section Starts =========== */
.contact-container-wrapper{
  background: #e0f2f1;
  padding: 5%;
  background-image: url('./img/contact-blob.svg'), url('./img/contact-blob-2.svg');
  background-repeat: no-repeat;
  background-position: top left, right bottom;
}
.contact-container{
  margin-left: 17%;
  margin-right: -52%;
}
/* =========== Get In Touch Section Ends =========== */
/* Home Component Ends */


/*
============== Footer Component Starts ============ 
*/
.footer-shadow{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.subscribe-container{

  width:100%;
  display: flex;
  flex-direction: column;
}
.subscribe-title{
  font-weight: 500;
  font-size: 16px;
}
.subscribe-action{
  align-items: center;
  flex-direction: row;
  display: flex;
  text-align: center;
}
.md-form.md-outline{
  width: 50%;
}
#subscribe-email{
  width: 50%;
}
#subscribe-btn{
  height: 40%;
  margin-bottom: 2%;
}
.subscribe .input{
  display:flex;
}
.subscribe .button{
  display:flex;
}
.custom-hover:hover{
  background-color: black;
}
.footer-social-links{
  margin-left: auto;
  margin-right: 40%;
}
.link-title{
  font-weight: 700;
}
.footer-links-container{
  display: flex;
  flex-direction: column;
}
.links-list{
  /* flex-direction: row; */
}
.footer-links-container .footer-link{
  font-weight: 400;
  flex: column;
}
/*
============== Footer Component Ends ============ 
*/
/*
============== Login Component Starts ============ 
*/
.login-container{
  display:flex;
  justify-content:center;
  align-items: center;
}
/*
============== Login Component Ends ============ 
*/

/*
============== Single Blog Component Starts ============ 
*/
.post-title h1{
  font-size: 50px;
  font-weight: bold;
}
.author-container .author-name{
  font-size: 25px;
  font-weight: 400;
}
/* 
============== Single Blog Component Ends ============  
*/
/* 
============== Blog Carousel Component Starts ============  
*/
.blog-carousel-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.blog-carousel-title{
  font-size: 40px;
  width: 50%;
  font-weight: 900;
  text-transform: uppercase;
}
.blog-carousel-date{
  font-size: small;
  color: grey;
}
.blog-carousel-update{
  color: darkgrey;
  font-size: small;
}
.blog-carousel-options{
  cursor: pointer;
}
/* 
============== Blog Carousel Component Ends ============  
*/



/*
============== GridView Blog Component Starts ============ 
*/
.blog-grid-wrapper{

}
.blog-grid-title{
  width: 40%;
}
.blog-grid-container{
  top: 0px;
  padding: 4%;
  left: 0px;
  right: 0px;
}
.blog-category{
  text-transform: uppercase;
  font-size: small;
  font-weight: 500;
}
.blog-title{
  font-size: x-large;
  font-weight: 900;
  width: 70%;
}
.blog-description{
  font-weight: 300;
  font-size: 15px;
  width: 50%;
}


.mod-card{
  height: 248px;
  width: 100%;
}
.blog-grid-overlay{
  overflow: hidden;
  background: black;
}
.blog-grid-overlay img{
  opacity: 0.6;
  height: -webkit-fill-available;
  width: 100%;
}



.sm-blog-grid-wrapper{

}
.sm-blog-grid-container{
  top: 0px;
  padding: 8%;
  left: 0px;
  right: 0px;
}
.sm-blog-category{
  text-transform: uppercase;
  font-size: small;
  font-weight: 500;
}
.sm-blog-title{
  margin-top: 2%;
  font-weight: 900;
  font-size: larger;
  width: 100%;
}
.sm-blog-description{
  font-weight: 300;
  font-size: 15px;
  width: 80%;
}
/*
============== GridView Blog Component Ends ============ 
*/
/*
============== Custom Blog Component Starts ============ 
*/
.custom-wrapper{
  height: 400px;
}
/*
============== Custom Blog Component Ends ============ 
*/

/* Breadcrumb Component Starts */
.bcrumbs-size{
  margin-top: 0%;
  margin-bottom: 0%;
}
.img-bread{
  height: 100%;
}
.brc-img{
  height: 100%;
  width:  100%;
}
.brc-content{
  margin-top: 10%;
  margin-bottom: auto;
}
.brc-ins-cont{
  margin-bottom: 5%;
}
.brc-header{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; 
  font-size: 50px;
  color:black;
}
.brc-bread-link{
  
}
/* Breadcrumb Component Ends */

/*
=========== 404 Page Component ==========
*/

/* 404 Component Starts */
.img-404{
  width: 100%;
  height: 100%;
}
.h1-404{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; 
  font-size: 20px;
}
.container-404-txt{
  margin-top: 15%;
  margin-bottom: 15%;
}
.txt-404{
  font-family: 'Montserrat', sans-serif;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ff4444;
  color:white;
  font-size: 170px;
}
.center-404{
  text-align: center;
}
.txt-sub-1{
  font-weight: 100;
  font-size: 20px;
}
.txt-sub-404{
  font-weight: 100;
  font-size: 15px;
  color:grey;
}
/* 404 Component Ends */
/* Comments Component Starts */
.comment-avatar img{
  width: 50px;
  border-radius: 50px;
}
.comment-author{
  font-size: 20px;
  font-weight: bold;
}
.comment-reply{

}
.comment-date{
  color: grey;
  font-size: 10px;
}
/* Comments Component Ends */

/* Profile Component Ends */
.card-hover{

}
.card-hover:hover{
  color: white;
  border-radius: 5px;
  border: 2px solid #33b5e5;
}
.card-selected{
  color: white;
  border-radius: 5px;
  border: 2px solid #33b5e5;
}
.skills-add{
  cursor: pointer;
}
.font-size-18{
  font-size: 18px;
}
.margin-bottom-3{
  margin-bottom: 2%;
  margin-top: 2%;
}
/* Profile Component Ends */
.text-img-container{
  background-color: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
}

/* ================ Create Post Starts =========== */
.create-post-container{
  margin-top: -6%;
  margin-left: 20%;
  overflow-y: scroll;
  height: 650px;
}
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
/* [type=radio] + img {
  cursor: pointer;
}
[type=radio]:checked + img {
  outline: 2px solid #f00;
} */
/* ================ Create Post Ends =========== */
